.symptomes-page-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: transparent;
}
.heading{
    margin-top: 20vh
}
.button-wrapper{
    margin-top: 3vh;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.btn-class{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(75, 106, 245);
    cursor: pointer;
    transition: all .3s;
}

.btn-class:hover{
   background-color: #53B88B; 
   color: black;
}
  

