.main {
    display:block;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .main-container {
    display: flex;
    justify-content: center;
    margin-top: -100px;
    width: 100vw;
    height: 100vh;
  }
  .logo img {
    width: 250px;
    margin-bottom: 50px;
  }
  
  .input1 {
    width: 150px; 
     height: 33px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    text-align: center;
  }
  h4 {
    text-align: center;
    color: gray;
  }
  .input-grid {
    display: grid;
    grid-template-areas:
      'username1 password1'
      'username2 password2'
      'submit submit';
    gap: 10px;
    padding: 10px;
    align-items: center; /* Centers items vertically in their cells */
    justify-items: center; /* Centers items horizontally in their cells */
}

.input1[name="username"]:first-of-type {
    grid-area: username1;
  }
  
  .input1[name="password"]:first-of-type {
    grid-area: password1;
  }
  
  .input1[name="username"]:last-of-type {
    grid-area: username2;
  }
  
  .input1[name="password"]:last-of-type {
    grid-area: password2;
  }
  
 input[type="submit"] {
    grid-area: submit;
    width: 299px;
    height: 43px;
    background-color: #4B6AF5;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  
  .input1::placeholder {
    color: rgba(76, 106, 247, 0.63);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-align: center; */
  }
  .input1{
      border-radius: 8px;
      border: 1px solid rgba(75, 106, 245, 0.33);
      background: #FFF;
      padding-left: 10px; 
  }
  .line-section{
      margin-top: 18px;
      display: flex;
      justify-content: center;
    align-items: center;
  }
  .line1 {
     
      width: 123px;
  }
  .line2{
      width: 123px;
      
  }
  .or{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 8px;
      color:rgba(0, 0, 0, 0.51);
  }
  .sing-up{
      margin-top: 10px;
  }
  .copyright{
      position: absolute;
    justify-content: end;
    left:30px;
    bottom: 40px;
    color: #AEAEAE;
    font-size: 14px;
  font-family:Arial, Helvetica, sans-serif
  }
  .login-btn {
    /* Other styles */
    transition: color 0.3s ease, text-decoration 0.3s ease;
    color: #4B6AF5;
    cursor: pointer;
  }
  
  .login-btn:hover {
    color: #FF6347; /* Or whatever color you want on hover */
    text-decoration: underline;
  }
  